<form [formGroup]="signUp">
    <mat-form-field>
        <input matInput 
        placeholder="Your username please">
    </mat-form-field>
    <mat-form-field>
        <input matInput 
        placeholder="Your email please">
    </mat-form-field>
    <mat-form-field>
        <input matInput 
        placeholder="Create Password please" 
        [type]="hide ? 'password' : 'text'" 
        formControlName="password" 
        required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint></mat-hint>
    </mat-form-field>
    <ng-content></ng-content>
    <mat-form-field>
        <input matInput 
        placeholder="Repeat Password please" 
        [type]="hideConfirm ? 'password' : 'text'" 
        formControlName="password" 
        required>
        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint></mat-hint>
    </mat-form-field>    
</form>