<div class="hint-container">
    <div class="square-container">
        <div class="square" [ngClass]="{'square--red':isPasswordWeak || isGoodLength, 'square--yellow':isPasswordModerate  && !isGoodLength, 'square--green':isPasswordStrong  && !isGoodLength}"></div>
        <div class="square" [ngClass]="{'square--red':isGoodLength, 'square--yellow':isPasswordModerate && !isGoodLength, 'square--green':isPasswordStrong && !isGoodLength}"></div>
        <div class="square" [ngClass]="{'square--red':isGoodLength, 'square--green':isPasswordStrong && !isGoodLength}"></div>
    </div>
    <div class="help-container">
        <p>{{passwordHint}}</p>
    </div>
</div>